/* RESET */
*{
    box-sizing:border-box;
}

/* BODY */
body{
    margin:0;
    font-family:Arial;
    background:#141414;
    color:white;
    overflow-x:hidden;
}


/* Logo */
.logo{
    color:#e50914;
    font-size:22px;
    font-weight:bold;
    margin-right:40px;
}

/* FORMULARIO */
.formulario{
    background:#222;
    padding:30px;
    border-radius:8px;
    width:350px;
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:90%;
    margin:auto;
    margin-top: 60px;
}

input, select, textarea{
    padding:10px;
    border:none;
    border-radius:4px;
    width:100%;
}

.field-invalid{
    outline: 2px solid #e50914;
    outline-offset: 2px;
}

.btnGuardar{
    background:#e50914;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    border-radius:4px;
}

.btnGuardar:hover{
    background:#f6121d;
}
