<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Película</title>
    <link rel="stylesheet" th:href="@{/estiloBorrar.css}">
</head>

<body>
<span th:replace="fragment_navbar :: navBar"></span>
<div class="container">
<!--
    <div class="poster">
        <img th:src="${pelicula.imgUrl}" alt="Poster de la película">
    </div>
-->
    <div class="info">

        <h1 th:text="${pelicula.titulo}">Título</h1>

        <p>
            <strong>Director:</strong>
            <span th:text="${pelicula.director}">Director</span>
        </p>

        <p>
            <strong>Género:</strong>
            <span th:text="${pelicula.genero?.nombre}">Genero</span>
        </p>

       <!-- <p>
            <strong>ID:</strong>
            <span th:text="${pelicula.id}">1</span>
        </p>-->
        <div class="video-container">
            <iframe width="560" height="315" th:src="'https://www.youtube.com/embed/' + ${pelicula?.videoUrl}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

            </iframe>
        </div>

        <!--
                    <a th:href="${pelicula.videoUrl}" target="_blank">
                        <button class="play">▶ Ver trailer</button>
                    </a>
        -->

        <div class="buttons">


            <form th:action="@{/deleteMovie/{id}(id=${pelicula.id})}" method="post">
                <button class="delete">Borrar película</button>
            </form>

        </div>

    </div>

</div>

</body>
</html>
